.donate-section {
  background: #f6f6f8;
  display: flex;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  gap: 2rem;
}
.donate-content {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}
.donate-content h2 {
  margin-bottom: -1rem;
  font-size: 1.5rem;
  color: #81CFCF;
  font-weight: 900;
}
.donate-content p {
  margin: 2rem 0;
  font-size: 1rem;
}

.amount-options button {
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  background: #ffffff;
  border: 2px solid #ccc;
  border-radius: 6px;
}
.amount-options button:hover {
  background: #e0f7fa;
  border-color: #00bcd4;
  cursor: pointer;
}
.amount-options button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 162, 255, 0.5);
}

.donate-submit {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background: teal;
  color: white;
  border: none;
  border-radius: 6px;
  width: 90%;
}
.donate-submit:hover {
  background: #00bcd4;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.form-box{
    width: 100%;
    max-width: 450px;
    background: #fff;
    display: block;
    margin-top: 5%;   
}

.form-box.act{
    display: block;
    background:rgba(255, 255, 255, 0.65);
}


input, select{
    width: 90%;
    padding: 15px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 10px;

}

input:focus {
    background: #d1f0f0;
    color: #000000;
    transition: background 1s, color 1s;
    box-shadow: 0 4px 5px inset rgba(0, 0, 0, .3);
}
input:hover{
    box-shadow: 0 4px 4px inset rgba(0, 0, 0, .3);
}
select:hover{
    box-shadow: 0 4px 4px inset rgba(0, 0, 0, .3);
}

input:active {
    background: #b2ebf2;
    color: #222;
    transition: background 0.3s, color 0.3s;
    box-shadow: 0 4px 4px inset rgba(0, 0, 0, .3);
}
