<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - RAPID</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/volunteer/volunteer_dashboard.css') }}">
</head>
<body>
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="sidebar-header">
        <img src="{{ url_for('static', filename='images/logo/logo_icon.png') }}" class="sidebar-logo-img" alt="main_logo" />
        <span class="sidebar-logo-text">Rapid</span>
      </div>
      <nav class="sidebar-nav">
        <ul class="sidebar-list">
          <!-- Dashboard SVG -->
          <li>
            <a href="{{ url_for('volunteer.volunteer_dashboard') }}" class="sidebar-link active">
              <span class="sidebar-icon">
                <i data-lucide="bar-chart-3"></i>
              </span>
              <span class="sidebar-label">Dashboard</span>
            </a>
          </li>
          <!-- History SVG -->
          <li>
            <a href="{{ url_for('volunteer.volunteer_tasks') }}" class="sidebar-link">
              <span class="sidebar-icon">
                <i data-lucide="check-square"></i>
              </span>
              <span class="sidebar-label">Tasks</span>
            </a>
          </li>
          <!-- Profile SVG -->
          <li>
            <a href="{{ url_for('volunteer.profile') }}" class="sidebar-link">
              <span class="sidebar-icon">
                <i data-lucide="user"></i>
              </span>
              <span class="sidebar-label">Profile</span>
            </a>
          </li>
          <!-- Feedback SVG -->
          <li>
            <a href="{{ url_for('volunteer.volunteer_feedback') }}" class="sidebar-link">
              <span class="sidebar-icon">
                <i data-lucide="message-square"></i>
              </span>
              <span class="sidebar-label">Feedback</span>
            </a>
          </li>
          <!-- Sign In SVG -->
          <li style="margin-top: 2rem;">
            <a href="{{ url_for('auth.logout') }}" class="sidebar-link" style="color: #ef4444;">
              <span class="sidebar-icon">
                <i data-lucide="log-out"></i>
              </span>
              <span class="sidebar-label">Log Out</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <!-- Main Content -->
    <div class="main-container">

    </div>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
      lucide.createIcons();
    </script>
    <script src="{{ url_for('static', filename='script/donor/donor.js') }}"></script>
  </body>
  </html>
