.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: #0d1b3d;
  color: white;
  display: flex;
  min-height: 570px;
}

.hero.white{
    background: #f6f6f8;
    color:#0d1b3d;
}

.hero span {
  color: #00ffff;
}

.hero button {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background: #00aaff;
  color: white;
  border: none;
}
.hero-content {
  margin: auto;
    max-width: 50%;
}
.hero-content:nth-child(even) {
    max-width: 800px;
 }
.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #81CFCF;
}
.hero-content h1:nth-of-type(even) {
  color: #ffffff;
}
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}


:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section{
  align-items: flex-start;
  display: flex;
  min-width: 800px;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--spacing-s);
    grid-row-gap: var(--spacing-s);
    width: 100%;
    max-height: 590px;
}

.card{
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), 0 0 20px 4px #538b9c;
    border: 2px solid #00ffff;
}

.card:before{
  content: none;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.25) translateZ(2px);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: blur(5px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  /* margin-bottom: var(--spacing-s); */
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.marker{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  width: 200%;
  transform: translateX(-25%);
  min-width: 1200px;
  max-height: 590px;
}
.marker-item{
  position: relative;
  overflow: hidden;
  height: fit-content;
  width: 100%;
}
.marker-item h1{
  font-size: 5rem;
  text-align: center;
  color: #E55649;
}
.marker-item h1:hover{
  transform: scale(1.15) translateY(-10px);
  transition: transform 0.5s ease-in-out;
}
.marker-item h2{
  margin-top: -7%;
  font-size: 2.5rem;
  text-align: center;
  color: #E55649;
}


